<ion-header>
  <ion-toolbar class="tool">
    <ion-buttons slot="start">
      <ion-button>
        <ion-avatar>
          <img src="https://images.pexels.com/photos/220453/pexels-photo-220453.jpeg?auto=compress&cs=tinysrgb&w=400">
        </ion-avatar>
      </ion-button>
    </ion-buttons>
    <ion-searchbar placeholder="Twitter'da ara" [debounce]="1000" (ionInput)="handleInput($event)"></ion-searchbar>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="settings-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <div>
    <ion-label class="aciklama">İlgini Çekebilecek Gündemler</ion-label>
    <ion-list lines="none">
      <ion-item *ngFor="let result of results">
        <ion-label>{{ result }} <p>34.9 B tweet</p>
        </ion-label>
        <ion-icon slot="end" name="ellipsis-vertical-outline"></ion-icon>
      </ion-item>
    </ion-list>
  </div>
</ion-header>

<ion-content>

</ion-content>